<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F23FE2CC1D9EE9F200951CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F23FE2E01D9EE9F300951CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F23FE2EB1D9EE9F300951CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
